@import '../../styles/main';

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border: 1px solid $gray-icons-color;
  border-radius: 48px;
  transition:
    border-color 0.4s ease,
    box-shadow 0.3s ease;

  @extend %button;

  cursor: pointer;

  &.rotated {
    transform: rotate(90deg);
  }

  &.disabled {
    opacity: 0.5;
    border-color: var(--gray-elements-color);
    cursor: not-allowed;
  }
}

:global(.swiper-button-disabled) {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
  border-color: transparent;
}
