@import '../../../shared/styles/main';

.slider {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 72px;
    margin-bottom: 24px;
  }

  &__title {
    @extend %h2;
  }

  &__buttons {
    display: flex;
    gap: 16px;

    @include on-tablet {
      padding-block: 4.5px;
    }
  }
}

:global(.swiper-slide) {
  width: 212px !important;
  max-width: 212px;
  box-sizing: border-box;

  @include on-tablet {
    width: 237px !important;
    max-width: 237px;
  }

  @include on-desktop {
    width: 265px !important;
    max-width: 265px;
  }
}
