$desktop-min-width: 1200px;
$tablet-min-width: 640px;
$main-font: "Playfair Display", "Times New Roman", serif;

$page-bg-color: #fff;
$hover-color: #fafbfc;
$accent-color: #7a1e2d;
$accent-muted-color: #e0c2c7;
$header-bg-color: #fff;
$main-color: #1f2021;
$gray-primary-color: #f1f2f9;
$gray-secondary-color: #2a2c37;
$gray-elements-color: #e2e6e9;
$gray-icons-color: #b4bdc3;
$product-card-shadow: #0000001a;
