@import '../../../shared/styles/main.scss';

.change-password-form {
  max-width: 400px;

  &__title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__button {
    width: 100%;
    padding: 14px;
    border-radius: 23px;
    background-color: $accent-color;
    color: $page-bg-color;
    border: none;

    @extend %body-text-14;

    font-size: 16px;
    border: 1px solid transparent;
    cursor: pointer;

    transition:
      background-color 0.4s ease,
      color 0.4s ease,
      border-color 0.4s ease;

    &:hover {
      background-color: $page-bg-color;
      color: $accent-color;
      border-color: $accent-color;
    }
  }
}
